body{
    padding: 100px;
}
.bank-title{
    text-align: center;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    box-shadow: 5px 5px 20px gray;
    border-radius: 30px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: hotpink;

}
.withdraw{
    background-color: lightseagreen;
}
.balance{
    background-color: lightslategray;
}
.status{
    color: white;
    padding: 20px;
    margin: 0 40px;
    border-radius: 10px;
}